/* Default Font */
.logo-dflt-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 34px;
    color: #4E47FF;
}

.website-dflt-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: #252432;
}

/* Default Color */
.dflt-color {}

/* Header part */
header {
    background-image: url(../Assets/Hero-bg.png);
    height: 698px;
}

/*Navigation Bar*/
nav {
    display: flex;
    justify-content: space-between;
    width: 1140px;
    margin: 0 auto;
    padding: 10px 20px;
    align-items: center;
}

.btn-primary {
    padding: 15px 25px;
    background-color: #4E47FF;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.stay-focused {
    width: 905px;
    margin: 0 auto;
    justify-items: center;
    margin-top: 158px;
}

.stay-focused h1 {
    font-size: 65px;
    font-weight: bold;
    text-align: center;
}

/* action-section */
.action-section {
    width: 1140px;
    height: 328px;
    margin: 116px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action-sec-left-area {
    width: 517px;

}

.action-sec-left-area h3 {
    font-size: 42px;
    font-weight: bold;
}

.action-sec-left-area p {
    font-size: 24px;
}

.action-sec-right-area img {
    border-radius: 50px;
}

/* productive-user section */
.productive-user {
    width: 1140px;
    height: 306px;
    background-color: #4E47FF20;
}

.users-ratio {}